
@{
	ViewData["Title"] = "Admin";
}
<div class="container-fluid" style="background-color: white;">
	<div class="row row-white">
		<div class="container-fluid">
			<h2>Invation Text</h2>
		</div>
	</div>
	<div class="row row-white">
		<div class="container-fluid">
			<form>
				<textarea id="meetingInvationMessageText" class="textarea" placeholder="Write your detailed topic information." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
			</form>
			<div class="btn btn-success">Save</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(function () {
		$('#meetingInvationMessageText').trumbowyg();
	});
</script>