@model tzatziki.minutz.models.CalenderModel
@{
		ViewData["Title"] = "Calender";
}
<div class="container-fluid">
	<div class="pull-left">
		<h1>Calender</h1>
		<p>Welcome to Minutz calender, here you can view your meetings and quickly create new appointments.</p>
		
	</div>
	<div class="pull-right">
		<h1><a href="#meeting" class="btn btn-success">Create Meeting</a></h1>
	</div>
</div>

<div id='calendar'></div>
	<script type="text/javascript">
	 

		$(function () {
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,basicWeek,basicDay'
				},
				selectable: true,
				selectHelper: true,
				select: function (start, end, allDay) {
					var title = prompt('Event Title:');
					if (title) {
						var today = new Date();
						var nowHours = today.getHours();
						//var length = prompt('How minutz will the meeting be?    example : 20 or 50');
						var startT = new Date(2017, 2, 11, nowHours, 0);
						var endT = new Date(2017, 2, 11, nowHours, parseInt(length));
						var link = '#meeting?id=' + Math.floor(Math.random() * (100 - 0)) + 1;
						$('#calendar').fullCalendar('renderEvent',
							{
								title: title,
								start: startT,
								end: endT,
								allDay: false,
								url: link
							},
							true // make the event "stick"
						);
					}
					$('#calendar').fullCalendar('unselect');
				},
				defaultDate: new Date(),
				navLinks: true, // can click day/week names to navigate views
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: [
					{
						title: 'All Day Event',
						start: '2017-02-01'
					},
					{
						title: 'Dinner',
						editable: true,
						durationEditable: true,
						overlap: false,
						start: '2017-02-12T20:00:00',
						end: '2017-02-12T21:00:00'
					},
					{
						title: 'Birthday Party',
						start: '2017-02-13T07:00:00'
					},
					{
						title: 'Minutz Meeting Demo',
						url: '#meeting?id=234',
						start: '2017-02-28T01:30:00',
						end: '2017-02-28T02:30:00'
					},
					{
						title: 'Minutz Meeting',
						url: '#meeting?id=235',
						start: '2017-03-11T09:00:00',
						end: '2017-03-11T10:00:00'
					}
				]
			});

		})
	</script>