<header *ngIf="IsLoggedIn" class="main-header">
      <!-- Logo -->
      <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <img height="40" src="../../../../assets/img/minutz_logo_icon.png" />
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <img height="50" src="../../../../assets/img/minutz_logo.png" />
        </span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top styled-header">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li style="font-size: 20px; padding-top: 10px; position: absolute; left: 50px;">
               
							Minutz
              </li>
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu topmenuitem ">
                <app-messages></app-messages>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li  class="dropdown notifications-menu topmenuitem">
                 <app-alerts></app-alerts>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu topmenuitem ">
                <app-tasks></app-tasks>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu hide">
                <app-user></app-user>
              </li>
            </ul>
          </div>
</nav>
</header>