<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="container-fluid">

            <div class="panel panel-default">

                <!-- Default panel contents -->
                <div class="panel-heading">Last 5 changes</div>

                <!-- Table -->
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Summary</th>
                            <th>User</th>
                            <th>Details</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                00/00/00 00:00
                            </td>
                            <td>
                                MAL0123
                            </td>
                            <td>
                                MGSOPS\LanceH
                            </td>
                            <td>
                                <button style="margin-left: 10px;" type="button" class="btn btn-success btn-sm">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00/00/00 00:00
                            </td>
                            <td>
                                MAL0123
                            </td>
                            <td>
                                MGSOPS\LanceH
                            </td>
                            <td>
                                <button style="margin-left: 10px;" type="button" class="btn btn-success btn-sm">View Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>