<ol class="breadcrumb">
  <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-5 pull-right">
          <div class="col-md-9">
            <input class="heading-input" 
              type="text" placeholder="Search" style="width: 100%;" />
          </div>
          <div class="col-md-2">
            <div class="btn btn-success" style="margin-top: -5px;">Create Meeting</div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Welcome / Call to Action to Sign up</div>
          <div class="panel-body">
    
          </div>
        </div>
      </div>
  </div>
  <div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Upcoming Meetings</div>
      <div class="panel-body">

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Minutz</div>
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Open Actions</div>
      <div class="panel-body">
        <div style="min-height: 200px;"></div>
      </div>
    </div>
  </div>
</div>
</div>
