<a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img src="pic" class="user-image" alt="User Image">
      <span class="hidden-xs">Name</span>
    </a>
    <ul class="dropdown-menu">
      <li class="user-header">
        <img src="pic" class="img-circle" alt="User Image">
        <p>
          Role
          <small>Created Date</small>
        </p>
      </li>
      <li class="user-body hide">
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-left">
          <a asp-controller="Account" asp-action="Index" class="btn btn-default btn-flat">Profile</a>
        </div>
        <div class="pull-right">
          <a asp-controller="Account" asp-action="Logout" class="btn btn-default btn-flat">Sign out</a>
        </div>
      </li>
    </ul>