################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tzatziki.minutz/bin
/tzatziki.minutz/obj
/tzatziki.minutz/obj/Debug/netcoreapp1.1
/tzatziki.minutz/obj
