@model tzatziki.minutz.models.Entities.Person
@{
    ViewData["Title"] = "MeetingInvite";
    Layout = "~/Views/Shared/_LayoutMailer.cshtml";
}

<h2>MeetingInvite</h2>
<div style="width:100%; background-color: #ffffff">
	<div style="width: 50%; margin: 0 auto; display: table; background-color: #0094ff; ">
		<h2>InvitePerson</h2>
		@Model.FirstName
		@Model.LastName
		@Model.Role
	</div>
</div>

