
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model tzatziki.minutz.Controllers.Test

 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span id="totalNotificationIcon" class="label label-warning"></span>
  </a>
 <ul class="dropdown-menu">
    <li id="totalNotificationText" class="header"></li>
    <li>
      <!-- inner menu: contains the actual data -->
      <ul id="menuNotificationSection" class="menu"></ul>
    </li>
    <li class="footer"><a id="btnClearNotifications" style="cursor: pointer;" >Clear all</a></li>
  </ul>

<script type="text/javascript">
  
  var totalNotifications = 0;

  (function () {
    "use strict";
    $("#btnClearNotifications").click(function ()
    {
      $('#menuNotificationSection li').remove();
      totalNotifications = 0;
      updateNotificationText(totalNotifications);
    });
  })();


  minutz.functions.notifyMe = function(title, message, iconString) {
    totalNotifications += 1;
    var theTitle = title;
    var options = {
      body: message,
      icon: "img/Minutz_Logo_Icon.png"
    }

    // Let's check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }

    // Let's check whether notification permissions have already been granted
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      var notification = new Notification(theTitle, options);
    }

    // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== "denied") {
      Notification.requestPermission(function (permission) {
        // If the user accepts, let's create a notification
        if (permission === "granted") {
          var notification = new Notification(theTitle, options);
        }
      });
    }
    $('#menuNotificationSection').append('<li><a href="#"><i class="' + iconString + '"></i>' + message + '</a></li>');
    minutz.functions.updateNotificationText(totalNotifications);
    // At last, if the user has denied notifications, and you
    // want to be respectful there is no need to bother them any more.
  };

  minutz.functions.updateNotificationText = function(total)
  {
    $('#totalNotificationText').text("You have " + total + " notifications");
    $('#totalNotificationIcon').text(total);
  };
</script>