@model tzatziki.minutz.models.BaseModel
@if (User.Identity.IsAuthenticated)
{
  <li><a asp-controller="Account" asp-action="Logout">@Model.User.Name</a></li>
}
else
{
  <li>
    <a style="text-decoration:none; color:white;" asp-controller="Account" asp-action="Login" id="btn-login">
      <i class="fa fa-sign-in fa-lg"></i>
    </a>
  </li>
}