<div class="container">
  <h1>Features</h1>
  <ul>
    <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
    <li>Production and development builds.</li>
    <li>Development server with live reload.</li>
    <li>TypeScript definition management using Types.</li>
    <li>Basic Service Worker, which implements "Cache then network strategy".</li>
    <li>Token authentication using OpsAuth.</li>
    <li>Http Interceptor to append tokens to each request.</li>
  </ul>

  <h1>OAuth</h1>
  <ul>
    <li>OAuth has been configured for development purposes only</li>
    <li>You will need to contact security to get a client_id and client_secret.</li>
    <li>You will to configure octopus variables (prod.ts) for deployment.</li>
  </ul>
</div>
