.center-navbar {
      display: block;
      text-align: center;
      color: white;
      padding: 15px;
      /* adjust based on your layout */
      margin-left: 50px;
      margin-right: 300px;
    }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: white;
      color: #000000;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: white;
      border-color: #337ab7;
      color: #000000;
    }

    .skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
      color: #000000;
    }
