.round-button-circle {
  width: 35px;
  height: 0;
  padding-bottom: 35px;
  border-radius: 35px;
  border: 0px solid #cfdcec;
  overflow: hidden;
  background: #47A9D6;
  cursor: pointer;
  color: white;
}
.round-button-circle:hover{
    background: #59C7F8;
}
.round-button-circle i {
  padding-top: 11px;
  padding-left: 11px;
}
