	<div class="row row-white left-tab top-tab">
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation"><a href="#objectiveTab" aria-controls="objectiveTab" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Objective</a></li>
				<li role="presentation"><a href="#outcomeTab" aria-controls="outcomeTab" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Outcome</a></li>
				<li role="presentation" class="active"><a href="#agendaTab" aria-controls="agendaTab" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i> Agenda</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane " id="objectiveTab">
					<br />
					<form>
						<textarea id="purposeText" class="textarea" placeholder="Write the purpose for your meeting." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane" id="outcomeTab">
					<br />

					<form>

						<textarea id="outcomeText" placeholder="Enter text ..." style="width:100%; min-height:300px;"></textarea>
						<br><input type="reset" class="hide" value="Reset form!">
					</form>
				</div>
				<div role="tabpanel" class="tab-pane active" id="agendaTab">
					<br />
					<div class="row left-tab">
						<div class="col-md-2 gridHeader ">
							<div class="input-group " >
								<select id="ddlItemDuration" class="form-control js-example-data-array"></select>
							</div>
						</div>
						<div class="col-md-4  gridHeader">
							<input id="txtAgendaTitle" type="text" style="font-size: 15px; font-weight: bold;" placeholder="Topic Title" data-toggle="tooltip" title="Give your agenda item a title." />
						</div>
						<div class="col-md-1  gridHeader">
							<div id="btnAddAgendaItemForm" class="round-button-circle pull-right"><i class="fa fa-plus"></i></div>
						</div>
						<div class="col-md-3  gridHeader">
							<select id="attendees_agendaItem" class="js-example-data-array" style="margin-top: 5px;"></select>
						</div>
					</div>
					<div class="row left-tab">
						<br />
						<form>
							<textarea id="agendaText" class="textarea" placeholder="Write your detailed topic information." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>