@import '../scss/fonts';
@import '../scss/bootstrap';
@import '../scss/custom';
@import '../scss/spinner';
.navbar-default {
  background-color: #005280;
  border-color: #005280;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #005280;
  background-color: #005280;
}
.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #B3B3B3;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 0px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 6px;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #767575;
  background-color: transparent;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-default {
  color: #fff;
  background-color: #ccc;
  border-color: #999;
}
.btn-default:hover {
    color: #fff;
    background-color: #B3B3B3;
    border-color: #B3B3B3;
}
.skin-blue .main-header .navbar {
  background-color: #1d98d0;
}
.skin-blue .main-header .logo {
  background-color: #1d98d0;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #1d98d0;
}
.skin-blue .sidebar-menu>li.header {
  color: #b8c7ce;
  background: #357ca5;
}
.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a {
  color: #ffffff;
  background: #357ca5;
  border-left-color: #3c8dbc;
}
.skin-blue .main-header .logo:hover {
  background-color: #367fa9;
}
