<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tzatzikiminutz20170421103338.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>ffcc9ef9-ef26-43cd-812b-d4ec70197670</ProjectGuid>
    <MSDeployServiceURL>tzatzikiminutz20170421103338.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tzatzikiminutz20170421103338</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tzatzikiminutz20170421103338</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/09562e8f-28c9-4be8-85ba-7f8709380719/resourcegroups/Database/providers/Microsoft.Web/sites/tzatzikiminutz20170421103338</ResourceId>
    <ContainerResourceId>/subscriptions/09562e8f-28c9-4be8-85ba-7f8709380719/resourcegroups/tzatziki/providers/Microsoft.ContainerRegistry/registries/registry20170317043047</ContainerResourceId>
    <ContainerResourceName>registry20170317043047</ContainerResourceName>
    <ResourceGroup>Database</ResourceGroup>
    <Subscription>Visual Studio Professional with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170317043047.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>