.breadcrumb > .active {
    color: #000;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #000;
}
.agenda-input {
    background-color: transparent;
    border-color: transparent;
    border: none;
    height: 40px;
    width: 160px;
    color: rgb(153, 153, 153);
    font-weight: 700;
    font-style: normal;
    min-height: 30px;
    width: 100%;
    font-size: 32px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    padding-bottom: 8px;
}