<ol class="breadcrumb">
	<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
	<li class="breadcrumb-item">Meetings</li>
	<li class="breadcrumb-item active">Create Meeting </li>
</ol>
<div class="container-fluid">
	<app-meeting-heading></app-meeting-heading>
	<app-meeting-options></app-meeting-options>
</div>
<div class="container-fluid">
	<div class="col-md-3" >
		<div class="row">
			<app-attendees></app-attendees>
			<app-agenda></app-agenda>
			<app-attachments></app-attachments>
		</div>
	</div>
	<div class="col-md-9 row-grey" style="background-color: #ecf0f5;">
	</div>
</div>