<div id="attendeeControl" class="panel-group">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-target=".attendeeControl" style="cursor: pointer;">
      <div class="panel-body my-panel">
        <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa-users fa-stack-1x"></i>
                    </span>
        <span class="attendeesLabel">Attendees</span>
        <span id="totalAgendaItemsIcon" class="label label-info"></span>
      </div>
    </a>
  </div>
  <div class="panel panel-default collapse attendeeControl">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
            <sd-attendee-select></sd-attendee-select>
          </div>
        </div>
        <div class="col-md-2">
          <sd-addButton (Click)="ShowInviteUser($event)"></sd-addButton>
        </div>
      </div>
      <div class="row" *ngFor="let att of Meeting.MeetingAttendeeCollection">
        <div class="col-md-10 pull-left">
          <div class="col-md-2" style="margin-left: -15px;">
            <div class="input-group">
              <span class="input-group-addon ">
                      <i class="fa fa-user-circle" aria-hidden="true"></i>
                   </span>
            </div>
          </div>
          <div class="col-md-10">
            <div class="col-md-10">{{ att.Name }}</div>
            <div class="col-md-10" style="font-size: 10px; font-weight: bold;">{{ att.Role }}</div>
          </div>
        </div>
        <div class="col-md-2 pull-right">
          <select id="attSelect" style="margin-left: -50px; margin-top: 4px;">
                <option>Accepted</option>
                <option>Declined</option>
                <option>Pending</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="inviteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Invite / Add Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-sm-12">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 222px;">First Name</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 271px;">Last Name</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 241px;">Email</th>
                </thead>
                <tbody id="tbPeople">
                  
                </tbody>
              </table>
            </div>
            <div class="col-sm-12">
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="txtPersonFirstName" class="col-sm-2 control-label">First Name</label>
    
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtPersonFirstName" placeholder="First Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="txtPersonLastName" class="col-sm-2 control-label">Last Name</label>
    
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtPersonLastName" placeholder="Last Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="txtPersonEmail" class="col-sm-2 control-label">Email</label>
    
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="txtPersonEmail" placeholder="Email" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div id="btnPersonToUserAdd" class="btn btn-info">Add</div>
                </div>
                <!-- /.box-footer -->
              </form>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>