<div id="attendeeControl" class="panel-group">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-target=".attendeeControl" style="cursor: pointer;">
      <div class="panel-body my-panel">
        <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa-users fa-stack-1x"></i>
                    </span>
        <span class="attendeesLabel">Attendees</span>
        <span id="totalAgendaItemsIcon" class="label label-info"></span>
      </div>
    </a>
  </div>
  <div class="panel panel-default collapse attendeeControl">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
            <sd-attendee-select></sd-attendee-select>
          </div>
        </div>
        <div class="col-md-2">
          <sd-addButton></sd-addButton>
        </div>
      </div>
      <div class="row" *ngFor="let att of Meeting.MeetingAttendeeCollection">
        <div class="col-md-10 pull-left">
          <div class="col-md-2" style="margin-left: -15px;">
            <div class="input-group">
              <span class="input-group-addon ">
                      <i class="fa fa-user-circle" aria-hidden="true"></i>
                   </span>
            </div>
          </div>
          <div class="col-md-10">
            <div class="col-md-10">{{ att.Name }}</div>
            <div class="col-md-10" style="font-size: 10px; font-weight: bold;">{{ att.Role }}</div>
          </div>
        </div>
        <div class="col-md-2 pull-right">
          <select id="attSelect" style="margin-left: -50px; margin-top: 4px;">
                <option>Accepted</option>
                <option>Declined</option>
                <option>Pending</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
