<div id="attachmentControl" class="panel-group">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-target=".attachmentControl" style="cursor: pointer;">
      <div class="panel-body my-panel">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-paperclip fa-stack-1x"></i>
        </span>
        <span class="attendeesLabel">Attachments</span>
        <span id="totalAgendaItemsIcon" class="label label-info"></span>
      </div>
    </a>
  </div>
  <div class="panel panel-default collapse attachmentControl">
    <div class="panel-body">
      <sd-fileupload></sd-fileupload>
    </div>
  </div>
  <ul id="agendaItems" class="products-list product-list-in-box collapse agendaControl"></ul>
</div>
