<div id="agendaControl" class="panel-group">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-target=".agendaControl" style="cursor: pointer;">
      <div class="panel-body my-panel">
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x"></i>
              </span>
        <span class="attendeesLabel">Agenda Topics</span>
        <span id="totalAgendaItemsIcon" class="label label-info"></span>
      </div>
    </a>
  </div>
  <div class="panel panel-default collapse agendaControl">
    <div class="panel-body">
      <div class="row ">
        <div class="col-md-12">
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
              <input [value]="QuickTopic" (input)="QuickTopic=$event.target.value" type="text" class="form-control" placeholder="Agenda title"
                aria-describedby="basic-addon1">

            </div>
          </div>
          <div class="col-md-2">
            <sd-addButton (Click)="AddTopic($event)"></sd-addButton>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let agenda of AgendaCollection" style="padding: 10px;" draggable="true" (click)="SelectTopic(agenda)"
        style="cursor: pointer;">
        <div class="col-md-9" style="margin-left: 20px;">
          {{ agenda.AgendaHeading }}
        </div>
        <div class="col-md-2" style="background-color: #D8D8D8;">
          {{ agenda.DurationLabel }}
        </div>
      </div>
    </div>
  </div>
</div>
