<div id="agendaControl" class="panel-group">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-target=".agendaControl" style="cursor: pointer;">
      <div class="panel-body my-panel">
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x"></i>
              </span>
        <span class="attendeesLabel">Agenda Topics</span>
        <span id="totalAgendaItemsIcon" class="label label-info"></span>
      </div>
    </a>
  </div>
  <div class="panel panel-default collapse agendaControl">
    <div class="panel-body">
      <div class="row ">
        <div class="col-md-12">
          <div class="input-group" data-toggle="tooltip" title="Give your agenda item a title.">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil"></i></span>
            <input [value]="QuickTopic" 
            (input)="QuickTopic=$event.target.value"  type="text" />
          </div>
        </div>
        <div class="col-md-2">
            <sd-addButton (Click)="AddTopic($event)"></sd-addButton>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let agenda of Meeting.MeetingAgendaCollection">
    <div class="col-md-9">
      {{ agenda.AgendaHeading }}
    </div>
    <div class="col-md-3">
      {{ Duration }}
    </div>
  </div>
</div>
