<div class="row row-white">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="col-md-5 row-padding">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
          <input (keypress)="locationChange($event.target.value)" [value]="Meeting.Location" (input)="Meeting.Location=$event.target.value"
                 type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1">

        </div>
      </div>
      <div class="col-md-4 row-padding">
        <div class="input-group date">
          <sd-datepicker [Date]='txtDate'></sd-datepicker>
        </div>
      </div>
      <div class="col-md-3 row-padding">
        <div class="input-group bootstrap-timepicker timepicker">
          <sd-timepicker (Change)='timeChange($event)'></sd-timepicker>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-3 row-padding">
        <sd-duration></sd-duration>
      </div>
      <div class="col-md-1 row-padding">
        <button class="btn btn-success"><i class="fa fa-refresh"></i></button>
      </div>
      <div class="col-md-3 row-padding">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tags"></i></span>
          <input id="txtTags" type="text" class="form-control" placeholder="Add a tag" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-2 row-padding">
        <sd-toggle [On]="'Formal'" [Off]="'Informal'"></sd-toggle>
      </div>
      <div class="col-md-2 row-padding">
        <sd-toggle [On]="'Private'" [Off]="'Public'"></sd-toggle>
      </div>
      <div class="col-md-1 row-padding">
        <div (click)="save()" class="btn btn-success"><span id="txtSave">Save</span></div>
      </div>
    </div>
  </div>
</div>
<div class="row row-item row-grey">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="col-md-3">
        <a class="btn btn-info"><i class="fa fa-paper-plane-o"></i><span style="padding-left:5px;">Send Invitations</span></a>
      </div>
      <div class="col-md-3">
        <a class="btn " style="background-color:white; color:black;">
          <i class="fa fa-print"></i>
          <span>Print</span>
        </a>
      </div>
      <div class="col-md-3">
        <div style="padding-top:6px; text-align:left;">
          <div id="txtInfo"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div style="padding-top:6px; text-align:left;">
          <div id="txtReacuranceInfo"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-2">
        <sd-timezone
         (Change)="timeChange($event)" >
        </sd-timezone>
      </div>
    </div>

  </div>
</div>
