<div class="panel panel-default">
  <a data-toggle="collapse" data-target=".attendeeControl" style="cursor: pointer;">
    <div class="panel-body" style="background-color: darkgrey;">
      <span class="fa-stack fa-lg">
				<i class="fa fa-circle-thin fa-stack-2x"></i>
				<i class="fa fa-user fa-stack-1x"></i>
			</span>
      <span class="attendeesLabel">Attendees</span>
      <span id="totalAttenddesIcon" class="label label-info"></span>
    </div>
  </a>
</div>
<div class="panel panel-default collapse attendeeControl">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group" data-toggle="tooltip" title="Add or remove attendees to your meeting.">
          <select id="attendees" class="form-control js-example-data-array"></select>
        </div>
      </div>
      <div id="btnAddAttendee" class="col-md-2" data-toggle="modal" data-target="#attendeeModal">
        <span class="fa-stack fa-lg buttonAdd">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-plus fa-stack-1x"></i>
				</span>
      </div>
    </div>
  </div>
</div>
<div id="attendeeCollapse" class=" collapse attendeeControl">
  <ul id="attendeeList" class="products-list product-list-in-box"></ul>
</div>
<!-- Modal -->
<div id="attendeeModal" class="modal fade " role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invite / Add Users</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                  style="width: 222px;">First Name</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 271px;">Last Name</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"
                  style="width: 241px;">Email</th>
            </thead>
            <tbody id="tbPeople">

            </tbody>
          </table>
        </div>
        <div class="col-sm-12">
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="txtPersonFirstName" class="col-sm-2 control-label">First Name</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" id="txtPersonFirstName" placeholder="First Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>
              </div>
              <div class="form-group">
                <label for="txtPersonLastName" class="col-sm-2 control-label">Last Name</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" id="txtPersonLastName" placeholder="Last Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>
              </div>
              <div class="form-group">
                <label for="txtPersonEmail" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                  <input type="email" class="form-control" id="txtPersonEmail" placeholder="Email" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div id="btnPersonToUserAdd" class="btn btn-info">Add</div>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
