<div *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-md-6">
      <app-hometasks></app-hometasks>
    </div>
    <div class="col-md-6">
      <app-homemeetings></app-homemeetings>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="!auth.isAuthenticated()">
  <div class="row">
    <div style="height: 10px;"></div>
    <div class="col-md-12 text-center">
      Oops, we don't know who you are. Please <a class="btn btn-success" (click)="auth.login()">log In</a> so we know who
      we are talking to.
    </div>
    <div class="col-md-12" style="height: 30px;"></div>
    <div class="col-md-12 text-center">
      <img src="../../assets/img/user-icon-grey.svg" width="200" />
    </div>
  </div>
</div>
