<style >
  .highlighted {

  }
</style>
<div class="panel panel-default">
  <a data-toggle="collapse" data-target=".agendaControl" style="cursor: pointer;">
    <div class="panel-body" style="background-color: darkgrey;">
      <i class="fa fa-bars fa-2x icon-border"  aria-hidden="true"></i>
      <span style="font-size:20px; font-weight:bold; padding:5px; color:white;">Agenda Topics</span>
      <span id="totalAgendaTopicsIcon" class="label label-info"></span>
    </div>
  </a>
</div>
<div class="panel panel-default collapse agendaControl">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group" data-toggle="tooltip" title="Give your agenda item a title.">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil"></i></span>
          <input id="txtAgendaTitleQuick" type="text"/>
        </div>
      </div>
      <div class="col-md-2">
        <div id="btnAddAgendaItem" class="round-button-circle pull-right"><i class="fa fa-plus"></i></div>
      </div>
    </div>
  </div>
</div>
<ul id="agendaItems" class="products-list product-list-in-box collapse agendaControl">
</ul>
<script type="text/javascript">

  meeting.deleteAgendaQuickItem = function(id){
    console.log('delete_' + id);
  };

  meeting.updateAgendaTextControl = function(text) {
    $("#txtAgendaTitleQuick").val(text);
  };

  $(function ()
  {
    $("#agendaItemTime").durationPicker({
      lang: 'en',
      showSeconds: false,
      showDays: false,
    });

    $("#btnAddAgendaItem").click(function ()
    {
      var id = meeting.CreateAgendaItem();
      var html = _getAgendaItemHtml($("#txtAgendaTitleQuick").val(), id);
      $("#agendaItems").append(html);
      $("#txtAgendaTitleQuick").val('');
      $('#timer_' + id).durationPicker({
        lang: 'en',
        showSeconds: false,
        showDays: false,
      });
      console.log(meeting);
    });


    $("#txtAgendaTitleQuick").on('change keydown paste input', function () {
      meeting.updateAgendaText($("#txtAgendaTitleQuick").val());
      console.log('boo');
    });
  });

  meeting.agendaSelect = function (id)
  {
    $("li").each(function (index) {
      console.log(index + ": " + $(this).text());
    });
    console.log(id);
  };

  function _getAgendaItemHtml(title, id) {
    return '<li id="_' + id + '" class="item">'
      + '<div class="row" style="cursor: pointer;" >'
      + '<div class="col-md-7" onclick="meeting.agendaSelect(' + id + ')"  >'
      + '<div style="padding-left:10px; text-overflow: ellipsis;  overflow: hidden; white-space: nowrap;">' + title+'</div>' 
      + '</div>'
      + '<div class="col-md-3">'
      + '<div class="input-group bootstrap-timepicker timepicker" style="margin-top: -10px;">'
      + '<input id="timer_' + id + '" type="text" class="form-control input-small">'
      + '</div>'
      + '</div>'
      + '<div class="col-md-1"><i class="fa fa-trash fa-2x pull-right" style=" cursor: pointer;color: grey; " aria-hidden="true" onclick="meeting.deleteAgendaQuickItem(' + id +')" ></i></div>'
    '</div></li>';
  };
</script>