@model List<tzatziki.minutz.models.Entities.User>

<style type="text/css">
	.attendeesLabel {
		font-size: 1.2em;
		font-weight: bold;
		padding: 5px;
		color: white;
	}

	.buttonAdd {
		cursor: pointer;
	}

		.buttonAdd .fa-stack-2x {
			background-color: #0073b7 !important;
			color: #0073b7 !important;
		}

		.buttonAdd .fa-plus {
			color: white !important;
		}

	.select2-container .select2-selection--single {
		/*min-width: 270px;*/
	}
</style>
<div class="panel panel-default">
	<a data-toggle="collapse" data-target=".attendeeControl" style="cursor: pointer;">
		<div class="panel-body" style="background-color: darkgrey;">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle-thin fa-stack-2x"></i>
				<i class="fa fa-user fa-stack-1x"></i>
			</span>
			<span class="attendeesLabel">Attendees</span>
			<span id="totalAttenddesIcon" class="label label-info"></span>
		</div>
	</a>
</div>
<div class="panel panel-default collapse attendeeControl">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-10">
				<div class="input-group" data-toggle="tooltip" title="Add or remove attendees to your meeting.">
					<select id="attendees" class="form-control js-example-data-array"></select>
				</div>
			</div>
			<div id="btnAddAttendee" class="col-md-2" data-toggle="modal" data-target="#attendeeModal">
				<span class="fa-stack fa-lg buttonAdd">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-plus fa-stack-1x"></i>
				</span>
			</div>
		</div>
	</div>
</div>
<div id="attendeeCollapse" class=" collapse attendeeControl">
	<ul id="attendeeList" class="products-list product-list-in-box"></ul>
</div>
<!-- Modal -->
<div id="attendeeModal" class="modal fade " role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Invite / Add Users</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-12">
					<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 222px;">First Name</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 271px;">Last Name</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 241px;">Email</th>
						</thead>
						<tbody id="tbPeople">
							
						</tbody>
					</table>
				</div>
				<div class="col-sm-12">
					<form class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label for="txtPersonFirstName" class="col-sm-2 control-label">First Name</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="txtPersonFirstName" placeholder="First Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
								</div>
							</div>
							<div class="form-group">
								<label for="txtPersonLastName" class="col-sm-2 control-label">Last Name</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="txtPersonLastName" placeholder="Last Name" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
								</div>
							</div>
							<div class="form-group">
								<label for="txtPersonEmail" class="col-sm-2 control-label">Email</label>

								<div class="col-sm-10">
									<input type="email" class="form-control" id="txtPersonEmail" placeholder="Email" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
								</div>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<div id="btnPersonToUserAdd" class="btn btn-info">Add</div>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	var img = "https://lh3.googleusercontent.com/-Me7IFI2HKzM/AAAAAAAAAAI/AAAAAAAARwo/Gc40a_hpsSI/photo.jpg";

	var availibleAttendees = [];

	function deleteAttendee(id) {
		for (var q = 0; q < meeting.MeetingAttendeeCollection.length; q++) {
			var check = meeting.MeetingAttendeeCollection[q];
			if (check.id == id) {
				var index = meeting.MeetingAttendeeCollection.indexOf(q);
				meeting.MeetingAttendeeCollection.splice(index, 1);
				$("#" + check.id).remove();
			}
		}
		$("#totalAttenddesIcon").text(meeting.MeetingAttendeeCollection.length);
	};

	$(function () {
		GetAttendees();

		var meetingId = "";
		if (document.location.search.length) {
			if (document.location.search.match("id").length > 0) {
				var query = document.location.search.match("id").input.split('?')[1];
				if (query.includes("id")) {
					meetingId = query.split('=')[1];
				}
			}
		}

		$('#attendees').select2({
			ajax: {
				url: document.location.origin + "/Account/AccountPeople",
				//url: "/Meeting/Attendees?meetingId=" + meetingId,
				dataType: 'json',
				delay: 250,
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data) {
					availibleAttendees = [];
					availibleAttendees = data;
					var newData = [];
					console.log(data);
					for (var i = 0; i < data.length; i++) {
						newData.push({ id: data[i].userId, text: data[i].name });
					}

					return {
						results: newData
					};
				},
				cache: true
			},
			width: '250px'
		});
		$('#attendees').on("select2:select", function (e) {
      var identity = $("#attendees").select2('data')[0].id;
      console.log('attendee select');
			console.log(identity);
      console.log(meeting.Id);
      console.log('attendee select 2');
      console.log(meeting);
			for (var i = 0; i < availibleAttendees.length; i++) {
        if (availibleAttendees[i].userId == identity) {
          
					var x = availibleAttendees[i];
					var guid = minutz.functions.createId();
					var user = {
						active: x.active,
						email: x.emailAddress,
						firstName: x.firstName,
						fullName: x.name,
						id: guid,
						identity: x.userId,
						Identity: x.userId,
						image: img, //x.image,
						lastName: x.lastName,
						role: x.role,
						Role: x.role,
						personIdentity: x.userId,
						ReferanceId: meeting.Id,
						referanceId: meeting.Id,
						Id: guid
          };
          
					for (var q = 0; q < meeting.MeetingAttendeeCollection.length; q++) {
            var check = meeting.MeetingAttendeeCollection[q];
            console.log('----');
            console.log(meeting.MeetingAttendeeCollection[q]);
            console.log(x);
            if (check.email == x.emailAddress) {
              
							var index = meeting.MeetingAttendeeCollection.indexOf(q);
							meeting.MeetingAttendeeCollection.splice(index, 1);
							$("#" + check.id).remove();
						}
					}
					console.log(user);
					meeting.MeetingAttendeeCollection.push(user);
					console.log(meeting.MeetingAttendeeCollection);
					$("#attendeeList").append(createUserListItem(user));
					$("#totalAttenddesIcon").text(meeting.MeetingAttendeeCollection.length);
				}
			}
		});

		$("#btnPersonToUserAdd").click(function () {
			var person = {};
			person.FirstName = $("#txtPersonFirstName").val();
			person.LastName = $("#txtPersonLastName").val();
			person.FullName = $("#txtPersonFirstName").val() + '  ' + $("#txtPersonLastName").val();
			person.Email = $("#txtPersonEmail").val();
			person.Role = "Attendee";
			person.Active = 0;

			$.ajax({
				type: minutz.properties.POST,
				dataType: minutz.properties.JSON,
				url: document.location.origin + "/Account/InvitePerson?email=" + person.Email + "&firstname=" + person.FirstName + "&lastname=" + person.LastName,
				//data: person,
				success: function (data) {
					console.log(data);
					var person = {};
					person.FirstName = $("#txtPersonFirstName").val();
					person.LastName = $("#txtPersonLastName").val();
					person.FullName = $("#txtPersonFirstName").val() + '  ' + $("#txtPersonLastName").val();
					person.Email = $("#txtPersonEmail").val();
					person.Role = "Attendee";
					person.Active = 0;

					$('#tbPeople').append(
						'<tr role="row" class="odd">'
						+ '<td class="sorting_1">' + person.FirstName + '</td>'
						+ '<td>' + person.LastName + '</td>'
						+ '<td>' + person.Email + '</td>'
						+ '<td></td>'
						+ '<td></td>'
						+ '</tr>'
					);

					
					$("#txtPersonFirstName").val('');
					$("#txtPersonLastName").val('');
					$("#txtPersonEmail").val('');
				 },
				error: function (XMLHttpRequest, textStatus, errorThrown) { },
			});
		});

    function createUserListItem(user) {
      console.log(decodeURIComponent(user.profileImage));
      console.log(user);
			return '<li id="' + user.id + '" class="item">'
				+ '<div class="product-img">'
        + '<img class="img-circle" height="50" width="50" style="margin-left: 5px;" src="' + decodeURIComponent(user.profileImage) + '" alt="Product Image">'
				+ '</div>'
				+ '<div class="product-info">'
        + '<a href="javascript:void(0)" class="product-title">' + user.firstName + ' ' + user.lastName
				+ '</a>'
				+ '<span class="product-description">'
				+ '<b>Role :</b>' + user.role
				+ '</span>'
				+ '<i class="fa fa-trash fa-2x pull-right" style="margin-top: -30px; margin-right: 10px; cursor: pointer;color: grey; " aria-hidden="true" onclick="deleteAttendee(' + user.id + ')" ></i>'
				+ '</div>'
				+ '</li>';
		};

		function GetAttendees() {
			$.ajax({
				type: minutz.properties.GET,
				url: document.location.origin + "/Account/AccountPeople",
				success: function (data) {
					console.log('--get peeps');
					console.log(data);
					$('#tbPeople').html('');
					for (var i = 0; i < data.length; i++) {
						$('#tbPeople').append(
							'<tr role="row" class="odd">'
							+ '<td class="sorting_1">' + data[i].firstName + '</td>'
							+ '<td>' + data[i].lastName + '</td>'
							+ '<td>' + data[i].emailAddress + '</td>'
							+ '<td></td>'
							+ '<td></td>'
							+ '</tr>'
						);
					}
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) { },
				dataType: minutz.properties.JSON
			});
		};

    function GetMeetingInfo(id) {
      var url = document.location.origin + "/Meeting/GetMeeting?id=" + id;
      $.ajax({
        type: minutz.properties.GET,
        url: url,
        success: function (data) {
          var result = { success: true, value: data };
          console.log(result);
          return result;
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          return { success: false, value : errorThrown};
          //minutz.functions.notifyMe(MinutzTitle, textStatus + "  " + errorThrown, minutz.properties.infoIcon);
        },
        dataType: minutz.properties.JSON
      });
     };

     function FindAttendees(data, meetingUsers)
     {
       console.log('start');
       for (var attendeeIdex = 0; attendeeIdex < data.length; attendeeIdex++) {
         var userId = data[attendeeIdex].personIdentity;

         console.log('-------------------------------------------------');
         console.log(data[attendeeIdex]);
         console.log(meetingUsers);
         console.log('-------------------------------------------------');

         for (var orginalUserIndex = 0; orginalUserIndex < meetingUsers.length; orginalUserIndex++) {
           if (userId == meetingUsers[orginalUserIndex].personIdentity) {
             $("#attendeeList").append(createUserListItem(meetingUsers[orginalUserIndex]));
           }
         }
       }
       $("#totalAttenddesIcon").text(data.meetingAttendeeCollection.length);
     };
    
		function GetAvailiblePeople() {
			$.ajax({
				type: minutz.properties.GET,
				url: document.location.origin + "/Account/People",
				success: function (data) { },
				error: function (XMLHttpRequest, textStatus, errorThrown) { },
				dataType: minutz.properties.JSON
			});
		};

		if (document.location.search.length) {
			var id = document.location.search.split("=")[1];
			$.ajax({
				type: minutz.properties.GET,
        url: document.location.origin + "/Account/AccountPeople", //"/Meeting/Attendees?meetingId=" + id,
				success: function (data) {
          var users = data;
          var url = document.location.origin + "/Meeting/GetMeeting?id=" + id;
          $.when($.ajax({
            type: minutz.properties.GET,
            url: url,
            success: function (data) {
              var result = { success: true, value: data };
              console.log(result);
              return result;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              return { success: false, value: errorThrown };
              //minutz.functions.notifyMe(MinutzTitle, textStatus + "  " + errorThrown, minutz.properties.infoIcon);
            },
            dataType: minutz.properties.JSON
          })).then(function (result, textStatus, jqXHR ){
            if (result)
            {
              if (textStatus === 'success') {
                //console.log(result.meetingAttendeeCollection);//meeting users
                //console.log(users);
                for (var userIndex = 0; userIndex < users.length; userIndex++) {
                  for (var attendeeIndex = 0; attendeeIndex < result.meetingAttendeeCollection.length; attendeeIndex++) {
                    if (users[userIndex].userId == result.meetingAttendeeCollection[attendeeIndex].personIdentity) {
                      var user = users[userIndex];
                      $("#attendeeList").append(createUserListItem(user));
                    }
                  }
                }
              }
             }
          });
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					//minutz.functions.notifyMe(MinutzTitle, textStatus + "  " + errorThrown, minutz.properties.infoIcon);
				},
				dataType: minutz.properties.JSON
			});
		}
	});

	function getUrlVars() {
		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for (var i = 0; i < hashes.length; i++) {
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}
		return vars;
	}


</script>