
<div class="panel panel-default">
	<a data-toggle="collapse" data-target=".fileControl" style="cursor: pointer;">
		<div class="panel-body" style="background-color: darkgrey;">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle-thin fa-stack-2x"></i>
				<i class="fa fa-paperclip fa-stack-1x"></i>
			</span>
			<span class="attendeesLabel">Attachments</span>
			<span id="totalAttachmentsIcon" class="label label-info"></span>
		</div>
	</a>
</div>
<div class="panel panel-default collapse fileControl">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div  class="dropzone" id="dropzoneForm">
          <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
          </div>
        </div>


        <div class="input-group hide" data-toggle="tooltip" title="Give your agenda item a title.">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-paperclip"></i></span>
          <input id="txtAgendaTitleQuick" type="file" />
        </div>
      </div>
    </div>
  </div>
</div>
<ul id="fileAttachmentList" class="products-list product-list-in-box collapse fileControl">
  
</ul>
<style>
  .dz-preview {
    display:none;
  }
  .dropzone {
    min-height: 50px;
    max-height: 50px;
    padding: 10px 10px;
  }
</style>
<script>
  $(function ()
  {
		$("div#dropzoneForm").dropzone();

		var meetingId = "";
		if (document.location.search.length) {
			if (document.location.search.match("id").length > 0) {
				var query = document.location.search.match("id").input.split('?')[1];
				if (query.includes("id")) {
					meetingId = query.split('=')[1];
					GetAttachments(meetingId);
				}
			}
		}

  });

	function GetAttachments(id) {
		$.ajax({
			type: minutz.properties.GET,
			url: document.location.origin + "/Meeting/GetMeeting?id=" + id,
			success: function (data) {
				console.log('meeting attachments');
				console.log(data);
				$("#fileAttachmentList").html();
				for (var d = 0; d < data.meetingAttachmentCollection.length; d++)
				{
					$("#fileAttachmentList").append(_createHtml(data.meetingAttachmentCollection[d]));
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) { },
			dataType: minutz.properties.JSON
		});
	};

  minutz.functions.addattachmentHtml = function (file)
  {
    $("#fileAttachmentList").append(_createHtml(file));
  };

  function _createHtml(file)
  {
    return '<li class="item">'
      + '<div class="product-img">'
      + '<i class="fa fa-file-o fa-2x" style="padding-left: 10px;" aria-hidden="true"></i>'
      + '</div>'
      + '<div class="product-info">'
			+ '<a href="' + document.location.origin +'/Meeting/GetFile?id='+ file.id +'" class="product-title">' + file.fileName
      + '</a>'
      + '<span class="product-description">'
      + 'Linked to Agenda'
      + '</span>'
      + '</div>'
      + '</li>';
  };
</script>