@model tzatziki.minutz.models.MeetngModel
@{
  ViewData["Title"] = "Meeting";
}
<link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<style>
  .row-item {
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .round-button-circle {
    width: 50px;
    height: 0;
    padding-bottom: 50px;
    border-radius: 50px;
    border: 0px solid #cfdcec;
    overflow: hidden;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
    color: white;
  }

    .round-button-circle i {
      padding-top: 12px;
      padding-left: 9px;
    }

  .text-line {
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    padding: 3px 10px;
  }

  /* form starting stylings ------------------------------- */
  .group {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
  }

    input:focus {
      outline: none;
    }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }

  /* active state */

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .dropdown-padding {
    padding-left: 10px;
    font-weight: bold;
  }

  /* active state */
  input:focus ~ .highlight {
    /*animation: inputHighlighter 0.3s ease;*/
  }

  .row-white {
    background-color: #fff;
  }
</style>

<div class="container-fluid">

  <div class="row hide">
    <div class="container-fluid">
      <div class="pull-left col-lg-10">
        <div class="col-md-3 ">
          <h3>My Organisation Name</h3>
        </div>
        <div class="col-md-6 pull-left">
          <h4 class="pull-left" style="padding-top: 10px;">Create Meeting</h4>
        </div>
      </div>
      <div class="pull-right">
        <div class="round-button-circle"><i class="fa fa-cogs fa-2x"></i></div>
      </div>
    </div>
  </div>
  @*This is top heading row row*@
  <div class="row row-white">
    <div class="container-fluid">
      <div class="col-md-12">
        <input type="text" style="font-size: 30px; font-weight: bold;" placeholder="Meeting Name" />
      </div>
      <div class="col-md-2 pull-right hide">
        <div class="dropdown pull-right" style="padding-top:25px;">
          <div class=" dropdown-toggle" type="button" id="projectSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-briefcase"></i>
            <span class="dropdown-padding">Project</span>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-white"><br /></div>
  @*This is meeting time controler row*@
  <div class="row row-white">
    <div class="container-fluid">
      <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
          <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group date">
          <input type="text" id="date" class="form-control"><span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group bootstrap-timepicker timepicker">
          <input id="meetingTime" type="text" class="form-control input-small">
          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group bootstrap-timepicker timepicker">
          <input id="duration" type="text" class="form-control input-small">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-time"></i>
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="dropdown" style="padding-top:5px;">
          <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="dropdown-padding">Repeat</span>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-cubes"></i></span>
          <input type="text" class="form-control" placeholder="Create Series" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-1">
        <div class="dropdown" style="padding-top:5px;">
          <div class=" dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-user"></i>
            <span class="dropdown-padding">Role</span>
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-white"><br /></div>
</div>

@*This is invations row*@
<div class="row row-item row-grey">
  <div class="container-fluid">
    <div class="col-lg-5">
      <div class="col-md-3">
        <a class="btn btn-info"><i class="fa fa-paper-plane-o"></i><span style="padding-left:5px;">Send Invatations</span></a>
      </div>
      <div class="col-md-3">
        <a class="btn " style="background-color:white; color:black;">
          <i class="fa fa-eye"></i>
          <span>Preview Invite</span>
        </a>
      </div>
    </div>
    <div class="col-lg-5 ">
      <div class="hide">

        <input type="checkbox" class="hide" name="private" value="private" /><span>Private meeting</span>
      </div>
      <div class="hide">
        <input type="checkbox" class="checkbox hide" name="audit" value="audit" /><span>Audited meeting</span>
      </div>
    </div>
  </div>
</div>

<div class="checkbox hide">
  <label><input type="checkbox" value="">Option 1</label>
</div>


<div class="col-md-3 row-grey"  >
  <div class="row ">
    <div class="box box-widget widget-user-2" >
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-blue">
        <div class="widget-user-image">
          <img class="img-circle" src="@User.ToProfile().ProfileImage" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@User.ToProfile().Name</h3>
        <h5 class="widget-user-desc">Organiser</h5>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-9 row-grey">
    <div class="row">
      <div class="panel-group" style="padding:10px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#purposeCollapse"><span>Purpose</span></a>
            </h4>
          </div>
          <div id="purposeCollapse" class="panel-collapse collapse">
            <div class="box box-info">
              <div class="box-header">
                <h3 class="box-title hide">
                  Bootstrap WYSIHTML5
                  <small>Simple and fast</small>
                </h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                  <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <!-- /. tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body pad">
                <form>
                  <textarea id="purposeText" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel-group" style="padding:10px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#outcomeCollapse"><span>Outcome</span></a>
            </h4>
          </div>
          <div id="outcomeCollapse" class="panel-collapse collapse">
            <div class="box box-info">
              <div class="box-header">
                <h3 class="box-title hide">
                  Bootstrap WYSIHTML5
                  <small>Simple and fast</small>
                </h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                  <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <!-- /. tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body pad">
                <form>
                  <textarea id="outcomeText" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
     <div class="panel-group" style="padding:10px;">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h4 class="panel-title">
             <a data-toggle="collapse" href="#agendaCollapse"><span>Agenda</span></a>
           </h4>
         </div>
         <div id="agendaCollapse" class="panel-collapse collapse">
           <div class="box box-info">
             <div class="box-header">
               <h3 class="box-title hide">
                 Bootstrap WYSIHTML5
                 <small>Simple and fast</small>
               </h3>
               <!-- tools box -->
               <div class="pull-right box-tools">
                 <button type="button" class="btn btn-default btn-sm hide" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                   <i class="fa fa-minus"></i>
                 </button>
                 <button type="button" class="btn btn-default btn-sm hide" data-widget="remove" data-toggle="tooltip" title="Remove">
                   <i class="fa fa-times"></i>
                 </button>
               </div>
               <!-- /. tools -->
             </div>
             <!-- /.box-header -->
             <div class="box-body pad">
               <form>
                 <textarea id="agendaText" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>




<!-- FastClick -->
<script src="~/plugins/fastclick/fastclick.js"></script>
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script type="text/javascript">

  $(function () {
    $('#meetingTime').timepicker();

    $('#duration').timepicker({
      minuteStep: 1,
      template: 'modal',
      appendWidgetTo: 'body',
      showSeconds: true,
      showMeridian: false,
      defaultTime: false
    });

    $('#date').datepicker({
      daysOfWeekDisabled: "0,6",
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true,
      datesDisabled: ['03/06/2017', '03/21/2017'],
      toggleActive: true,
      defaultViewDate: { year: 1977, month: 04, day: 25 }
    });

    $('#meetingNameGroup input').blur(function () {

      // check if the input has any value (if we've typed into it)
      if ($(this).val())
        $(this).addClass('used');
      else
        $(this).removeClass('used');
    });

    $("#purposeText").wysihtml5();
    $("#outcomeText").wysihtml5();
    $("#agendaText").wysihtml5();
  });
</script>