@model tzatziki.minutz.models.CalenderModel
@{
	ViewData["Title"] = "Meeting";
}
<style>
	.round-button-circle {
		width: 50px;
		height: 0;
		padding-bottom: 50px;
		border-radius: 50px;
		border: 0px solid #cfdcec;
		overflow: hidden;
		background: #4679BD;
		box-shadow: 0 0 3px gray;
		cursor: pointer;
		color:white;
	}

		.round-button-circle i {
			padding-top: 12px;
			padding-left: 9px;
		}

	.text-line {
		background-color: transparent;
		color: #000000;
		outline: none;
		outline-style: none;
		outline-offset: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid #000 1px;
		padding: 3px 10px;
	}
</style>
<div class="container-fluid">
<br />
<div class="row">
<div class="container-fluid">
	<div class="pull-left">
		<h3>My Organisation Name</h3> <span>Create Meeting</span>
	</div>
	<div class="pull-right">
		
		<div class="round-button-circle"><i class="fa fa-cogs fa-2x"></i></div>
	</div>
</div>
</div>
<div class="row">
	<div class="container-fluid">
		<div class="col-md-5">
			<input type="text" class="text-line" />
		</div>
	</div>
</div>
	<div class="row">
		<div class="container-fluid">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">

			</div>
			<div class="col-md-2">

			</div>
			<div class="col-md-2">

			</div>
			<div class="col-md-2">

			</div>
			<div class="col-md-2">

			</div>
			<div class="col-md-2">

			</div>
		</div>
	</div>
</div>