@model tzatziki.minutz.models.Entities.Meeting
@{
  ViewData["Title"] = "Meeting";
}
<link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<style>
  .main-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
  } 
  .icon-border {
    border: 1px solid white;
    padding: 12px;
    border-radius: 100px;
    background-color: white;
    color: black;
    font-size: 24px;
  }

  .border {
    border: solid 1px #D2D6DE;
  }
  .gridHeader {
    height:50px;
  }
  .left-tab {
    margin-left: 5px;
  }

  .top-tab {
    margin-top: 10px;
  }
  .select2-container {

  }
    .nav-tabs > li > a {
    margin-right: 2px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: large;
    color: black;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid black;
    border-radius: 2px 4px 0 0;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: large;
    color: black;
    background-color: transparent !important;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px;
    border-bottom-width: 2px;
    border-bottom-color: black;
  }
  .nav-tabs {
    border-bottom: 0px solid #ddd;
  }

  .dropzone.dz-clickable {
    cursor: pointer;
  }

  .dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
  }

  .dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 54px 54px;
  }

    .dropzone, .dropzone * {
      box-sizing: border-box;
    }

  .btn {
    padding: 9px 14px !important;
  }

  /* layout.css Style */
  .select2-container--default .select2-selection--single {
    border-radius: 0px !important;
  }

  .select2-container .select2-selection--single {
    height: 40px !important;
  }

  .upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }

  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
  }

    .upload-drop-zone.drop {
      color: #222;
      border-color: #222;
    }

  .bdp-input {
    border-radius: 2px;
    padding: 0 3px;
    border: 1px solid rgba(34, 36, 38, .15);
    cursor: pointer;
  }

    .bdp-input.disabled {
      color: #AAA;
      cursor: default;
    }

  .bdp-popover {
    min-width: 110px;
  }

    .bdp-popover input {
      display: inline;
      margin-bottom: 3px;
      width: 60px;
    }

  .bdp-block {
    display: inline-block;
    line-height: 1;
    text-align: center;
    padding: 5px 3px;
  }

  .bdp-label {
    font-size: 70%;
  }

  .material-switch > input[type="checkbox"] {
    display: none;
  }

  .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
  }

    .material-switch > label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position: absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
    }

    .material-switch > label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
    }

  .material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
  }

  .material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
  }

  .row-item {
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .round-button-circle {
    width: 35px;
    height: 0;
    padding-bottom: 35px;
    border-radius: 35px;
    border: 0px solid #cfdcec;
    overflow: hidden;
    background: #47A9D6;
    cursor: pointer;
    color: white;
  }

  .round-button-circle i {
      padding-top: 11px;
      padding-left: 11px;
    }

  .text-line {
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    padding: 3px 10px;
  }

  /* form starting stylings ------------------------------- */
  .group {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
  }

    input:focus {
      outline: none;
    }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }

  /* active state */

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .dropdown-padding {
    padding-left: 10px;
    font-weight: bold;
  }

  /* active state */
  input:focus ~ .highlight {
    /*animation: inputHighlighter 0.3s ease;*/
  }

  .row-white {
    background-color: #fff;
  }

  .panel {
    border: 0px solid transparent !important;
  }

  .panel-title {
    margin-top: inherit !important;
    margin-bottom: inherit !important;
    font-size: 16px;
    color: inherit;
    background-color: #D7D7D7;
  }

  .panel-heading {
    padding: 0px 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  @@media screen and (min-width: 1000px) {
    .w {
      margin-left: -50px;
    }
  }

  @@media screen and (max-width: 1000px) {
    .row-padding {
      padding-bottom: 5px;
    }
  }
</style>
<div class="container-fluid">
  @*This is top heading row row*@
  <div class="row row-white">
    <div class="container-fluid">
      <div class="col-md-12">
        <input id="txtMeetingName" type="text" style="font-size: 30px; font-weight: bold;" placeholder="Meeting Name" data-toggle="tooltip" title="Give your meeting a logical name." />
      </div>
    </div>
  </div>
  <div class="row row-white"><br /></div>
  @*This is meeting time controler row*@
  <div class="row row-white">
    <div class="container-fluid">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 row-padding">
            <div class="input-group" data-toggle="tooltip" title="The location of the meeting i.e. meeting room name or address.">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
              <input id="txtLocation" type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-md-4 row-padding">
            <div class="input-group date" data-toggle="tooltip" title="The date of the meeting.">
              <input type="text" id="txtDate" class="form-control"><span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
          <div class="col-md-4 row-padding" data-toggle="tooltip" title="The time the meeting is required to begin.">
            <div class="input-group bootstrap-timepicker timepicker">
              <input id="meetingTime" type="text" class="form-control input-small">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 row-padding">
            <div class="input-group bootstrap-timepicker timepicker" data-toggle="tooltip" title="The duration of the meeting.">
              <input id="txtDuration" type="text" class="form-control input-small">
              <span class="input-group-addon"><i class="fa fa-hourglass-half"></i></span>
            </div>
          </div>
          <div class="col-md-4 row-padding">
            <div class="input-group bootstrap-timepicker timepicker" data-toggle="tooltip" title="How often will the meeting be held?">
              <span class="input-group-addon"><i class="fa fa-refresh"></i></span>
              <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span id="repeatTypeText" style="padding-left:5px; padding-right:5px;"> Set Recurrence  </span> <span class="caret"></span>
                </button>
                <ul id="repeatType" class="dropdown-menu products-list product-list-in-box">
                  <li class="item" style="text-align: center;"><a href="#">Daily</a></li>
                  <li class="item" style="text-align: center;"><a href="#">Weekly</a></li>
                  <li class="item" style="text-align: center;"><a href="#">Monthly</a></li>
                  <li class="item" style="text-align: center;"><a href="#">Yearly</a></li>
                  <li class="item" style="text-align: center;"><a href="#">None</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 row-padding">
            <div class="input-group" data-toggle="tooltip" title="Give your meeting tags, separated by ';' ">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tags"></i></span>
              <input id="txtTags" type="text" class="form-control" placeholder="Add a tag" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-white"><br /></div>
</div>
@*This is invations row*@
<div class="row row-item row-grey">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="col-md-3">
        <a class="btn btn-info"><i class="fa fa-paper-plane-o"></i><span style="padding-left:5px;">Send Invatations</span></a>
      </div>
      <div class="col-md-3">
        <a class="btn " style="background-color:white; color:black;">
          <i class="fa fa-print"></i>
          <span>Print</span>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group bootstrap-timepicker timepicker" data-toggle="tooltip" title="How often will the meeting be held?">
        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
        <div class="btn-group" style="width: 100%;">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;" aria-haspopup="true" aria-expanded="false">
            <span id="repeatTypeText" style="padding-left:5px; padding-right:5px;"> Set Timezone  </span> <span class="caret"></span>
          </button>
          <ul id="repeatType" class="dropdown-menu products-list product-list-in-box">
            <li class="item" style="text-align: center;" timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</li>
            <li class="item" style="text-align: center;" timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</li>
            <li class="item" style="text-align: center;" timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</li>
            <li class="item" style="text-align: center;" timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</li>
            <li class="item" style="text-align: center;" timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</li>
            <li class="item" style="text-align: center;" timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</li>
            <li class="item" style="text-align: center;" timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</li>
            <li class="item" style="text-align: center;" timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</li>
            <li class="item" style="text-align: center;" timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</li>
            <li class="item" style="text-align: center;" timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</li>
            <li class="item" style="text-align: center;" timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</li>
            <li class="item" style="text-align: center;" timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</liclass="item">
            <li class="item" style="text-align: center;"  timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</li>
            <li class="item" style="text-align: center;"  timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</li>
            <li class="item" style="text-align: center;"  timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</li>
            <li class="item" style="text-align: center;"  class="item" style="text-align: center;"  timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</li>
            <li class="item" style="text-align: center;"  timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</li>
            <li  class="item" style="text-align: center;"  timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</li>
            <li class="item" style="text-align: center;"  timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</li>
            <li class="item" style="text-align: center;"  timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</li>
            <li class="item" style="text-align: center;"  timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</li>
            <li class="item" style="text-align: center;"  timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</li>
            <li class="item" style="text-align: center;"  timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</li>
            <li class="item" style="text-align: center;"  timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</li>
            <li class="item" style="text-align: center;"  timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</li>
            <li class="item" style="text-align: center;"  timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</li>
            <li class="item" style="text-align: center;"  timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</li>
            <li class="item" style="text-align: center;"  timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</li>
            <li class="item" style="text-align: center;"  timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</li>
            <li class="item" style="text-align: center;"  timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</li>
            <li class="item" style="text-align: center;"  timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</li>
            <li class="item" style="text-align: center;"  timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</li>
            <li class="item" style="text-align: center;"  timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</li>
            <li class="item" style="text-align: center;"  timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</li>
            <li class="item" style="text-align: center;"  timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</li>
            <li class="item" style="text-align: center;"  timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</li>
            <li class="item" style="text-align: center;"  timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</li>
            <li class="item" style="text-align: center;"  timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</li>
            <li class="item" style="text-align: center;"  timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</li>
            <li class="item" style="text-align: center;"  timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</li>
            <li class="item" style="text-align: center;"  timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</li>
            <li class="item" style="text-align: center;"  timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</li>
            <li class="item" style="text-align: center;"  timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</li>
            <li class="item" style="text-align: center;"  timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</li>
            <li class="item" style="text-align: center;"  timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</li>
            <li class="item" style="text-align: center;"  timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</li>
            <li class="item" style="text-align: center;"  timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</li>
            <li class="item" style="text-align: center;"  timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</li>
            <li class="item" style="text-align: center;"  timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</li>
            <li class="item" style="text-align: center;"  timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</li>
            <li class="item" style="text-align: center;"  timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</li>
            <li class="item" style="text-align: center;"  timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</li>
            <li class="item" style="text-align: center;"  timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</li>
            <li class="item" style="text-align: center;"  timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</li>
            <li class="item" style="text-align: center;"  timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</li>
            <li class="item" style="text-align: center;"  timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</li>
            <li class="item" style="text-align: center;"  timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</li>
            <li class="item" style="text-align: center;"  timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</li>
            <li class="item" style="text-align: center;"  timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</li>
            <li class="item" style="text-align: center;"  timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</li>
            <li class="item" style="text-align: center;"  timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</li>
            <li class="item" style="text-align: center;"  timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</li>
            <li class="item" style="text-align: center;"  timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</li>
            <li class="item" style="text-align: center;"  timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</li>
            <li class="item" style="text-align: center;"  timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</li>
            <li class="item" style="text-align: center;"  timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</li>
            <li class="item" style="text-align: center;"  timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</li>
            <li class="item" style="text-align: center;"  timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</li>
            <li class="item" style="text-align: center;"  timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</li>
            <li class="item" style="text-align: center;"  timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</li>
            <li class="item" style="text-align: center;"  timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</li>
            <li class="item" style="text-align: center;"  timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</li>
            <li class="item" style="text-align: center;"  timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</li>
            <li class="item" style="text-align: center;"  timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</li>
            <li class="item" style="text-align: center;"  timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</li>
            <li class="item" style="text-align: center;"  timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</li>
            <li class="item" style="text-align: center;"  timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</li>
            <li class="item" style="text-align: center;"  timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</li>
            <li class="item" style="text-align: center;"  timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</li>
            <li class="item" style="text-align: center;"  timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</li>
            <li class="item" style="text-align: center;"  timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</li>
            <li class="item" style="text-align: center;"  timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 ">
      <input  type="checkbox" id="toggle-formal">
    </div>
  </div>
</div>

<div class="col-md-3 row-grey" style="background-color: #ecf0f5;">
  <div class="row ">
    <div class="box box-widget widget-user-2" style="padding:10px; background-color:#ecf0f5; ">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-blue">
        <div class="widget-user-image">
          <img class="img-circle" src="@User.ToProfile().ProfileImage" alt="User Avatar">
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@User.ToProfile().Name</h3>
        <h5 class="widget-user-desc"><b>Role :</b> Organiser</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="attendeesControl" class="panel-group" style="padding:10px; ">
    </div>
    <div id="agendaControl" class="panel-group" style="padding:10px; ">
    </div>
    <div id="attachmentsControl" class="panel-group" style="padding:10px; ">
    </div>
  </div>
</div>
<div class="col-md-9 row-grey" style="background-color: #ecf0f5;">
  <div class="row row-white left-tab top-tab">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#objectiveTab" aria-controls="objectiveTab" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Objective</a></li>
        <li role="presentation"><a href="#outcomeTab" aria-controls="outcomeTab" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Outcome</a></li>
        <li role="presentation" class="active"><a href="#agendaTab" aria-controls="agendaTab" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i> Agenda</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane " id="objectiveTab">
          <br />
          <form>
            <textarea id="purposeText" class="textarea" placeholder="Write the purpose for your meeting." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="outcomeTab">
          <br />
          <form>
            <textarea id="outcomeText" class="textarea" placeholder="Write your intended outcome for your meeting." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane active" id="agendaTab">
          <br />
          <div class="row left-tab">
            <div class="col-md-2 gridHeader">
              <div class="input-group bootstrap-timepicker timepicker">
                <input id="agendaItemTime" type="text" class="form-control input-small">
                <span class="input-group-addon"><i class="fa fa-hourglass-half"></i></span>
              </div>
            </div>
            <div class="col-md-6  gridHeader">
              <input id="txtAgendaTitle" type="text" style="font-size: 15px; font-weight: bold;" placeholder="Topic Title" data-toggle="tooltip" title="Give your agenda item a title." />
            </div>
            <div class="col-md-3  gridHeader">
              <select id="attendees_agendaItem" class="js-example-data-array" style="margin-top: 5px;"></select>
            </div>
          </div>
          <div class="row left-tab">
            <br />
            <form>
              <textarea id="agendaText" class="textarea" placeholder="Write your detailed topic information." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-1 hide">
  <div id="btnAddAgenda" class="round-button-circle" style="margin-top: -35px; margin-left:-160px;"><i class="fa fa-plus fa-2x"></i></div>
</div>
<div class="col-sm-1 hide">
  <div id="btnRemoveAgenda" class="round-button-circle" style="margin-top: -35px; margin-left:-120px; background-color:red"><i class="fa fa-minus fa-2x"></i></div>
</div>
<!-- FastClick -->
<script src="~/plugins/fastclick/fastclick.js"></script>
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script type="text/javascript">
  var MinutzTitle = "Minutz : Meeting Creator";
  minutz.properties.infoIcon = 'fa fa-info';

  minutz.functions.updateAgendaText = function(text)
  {
    $("#txtAgendaTitle").val(text);
  };

  $(function () {
    _initPickers();

    $("#txtAgendaTitle").on('change keydown paste input', function () {
      minutz.functions.updateAgendaTextControl($("#txtAgendaTitle").val());
    });

    $('#toggle-formal').bootstrapToggle({
      on: 'Formal',
      off: 'Informal'
    });

    $("#repeatType li a").click(function () {

      $("#repeatTypeText").text($(this).text());

      meeting.IsReacurance = _isReacurance($(this).text());
      meeting.ReacuranceType = $(this).text();
    });

    $('#meetingNameGroup input').blur(function () {
      if ($(this).val())
        $(this).addClass('used');
      else
        $(this).removeClass('used');
    });

    minutz.functions.wysihtml5('agendaText');
    minutz.functions.wysihtml5('outcomeText');
    minutz.functions.wysihtml5('purposeText');

    var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
    }

    //$("#btnAddAgenda").click(function () { _CreateAgendaItem(); });
    //if (meeting.MeetingAgendaCollection.length < 1) { _CreateAgendaItem(); }

    $('#attendeesControl').load('/Meeting/AttendeesControl?meetingId=' + 1, 1, function (responseText, textStatus, jqXHR) {
      var meetingId = 1;
      $('#attendees_agendaItem').select2({
        placeholder: "Assign to attendee",
        ajax: {
          url: "/Meeting/Attendees?meetingId=" + meetingId,
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data) {
            availibleAttendees = [];
            availibleAttendees = data;
            var newData = [];
            for (var i = 0; i < data.length; i++) {
              newData.push({ id: data[i].identity, text: data[i].fullName });
            }

            return {
              results: newData
            };
          },
          cache: true
        },
        width: '100%'
      });
    });

    $('#agendaControl').load('/Meeting/AgendaControl?meetingId='+1, 1, function (responseText, textStatus, jqXHR) {

    });

    $('#attachmentsControl').load('/Meeting/AttachmentsControl?meetingId=' + 1, 1, function (responseText, textStatus, jqXHR) {

    });
  });

  minutz.functions.CreateAgendaItem = function() {
    var id = minutz.functions.createId();
    meeting.MeetingAgendaCollection.push(MeetingAgendaItem(id, 'refId', $("#txtAgendaTitle").val(), $("#agendaText").val(), 'meetingattendeeId', 'createdDate', false));
    return id;
  };

  function _CreateAgendaItem(data) {
    var id = meeting.MeetingAgendaCollection.length;
    var controlName = "agenda" + id;
    meeting.MeetingAgendaCollection.push(MeetingAgendaItem(id, 'refId', 'agendaText', 'meetingattendeeId', 'createdDate', false));

    $('#agendaListControl').append('<li>' + _getAgenda(controlName, _getAgendaAttachments()) + '</li>');
    $("#" + controlName).wysihtml5();

    console.log(meeting);
  };

  function _getAgenda(controlName, att) {

    var html = '<div id="agendaId">' +
      '<div class="container" style="margin-left: 5px;">' +
      '<div class="row">' +
      '<div class="col-md-2">' +
      '<b style="padding: 20px;">Duration</b>' +
      '</div>' +
      '<div class="col-md-6">' +
      '<b style="padding: 20px;">Topic</b>' +
      '</div>' +
      '<div class="col-md-3">' +
      '<b style="padding: 20px;">Owner</b>' +
      '</div>' +
      '</div>' +
      '</div>' +
      '<div class="container" style="margin-left: 5px;">' +
      '<div class="row">' +
      '<div class="col-md-2">' +
      '<input id="dur" type="text" class="form-control input-small">' +
      '</div>' +
      '<div class="col-md-6">' +
      '<input id="txtTopicTitle" type="text" class="form-control input-small">' +
      '</div>' +
      '<div class="col-md-3">' +
      '<select id="attendees_' + controlName + '" class="js-example-data-array" style="width: 150px;"></select>' +
      '</div>' +
      '</div>' +
      '<br />' +
      '</div>' +
      '<div class="row">' +
      '<div class="col-md-9">' +
      '<div style="margin-left:10px; margin-right:10px;">' +
      '<form>' +
      '<textarea id="' + controlName + '" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>' +
      '</form>' +
      '</div>' +
      '</div>' +
      '<div class="col-md-3"><form action="/Meeting/FileUpload" method="post" enctype="multipart/form-data" class="dropzone dz-clickable" style="margin-top: 50px;" id="my-awesome-dropzone"></form></div>' +
      '</div>' +
      '<div class="row">' +
      '<div class="col-md-12">' +
      '<ul >';

    for (var i = 0; att.length > 0; i++) {
      var fileAttachment = att[i];
      html = html + '<li>' +
        '<i class="fa fa-paperclip" aria-hidden="true"> <span style="font-family: Arial;">File Attachment</span></i>' +
        '</li>';
    }

    html = html + '</ul>' +
      '</div>' +
      '<div>' +
      '</div>';
    return html;
  };

  function MeetingAgendaItem(id, referanceId, agendaHeading ,agendaText, meetingAttendeeId, createdDate, isComplete) {
    return { Id: id, ReferanceId: referanceId, AgendaHeading: agendaHeading,AgendaText: agendaText, MeetingAttendeeId: meetingAttendeeId, CreatedDate: createdDate, IsComplete: isComplete };
  };

  function _updateAgendaTextToModel() {
    for (var i = 0; i < meeting.MeetingAgendaCollection.length; i++) {
      var currentAgenda = meeting.MeetingAgendaCollection[i];
      var controlName = "agenda" + currentAgenda.Id;
      var currentAgendaText = $("#" + controlName).val();
      currentAgenda.AgendaText = currentAgendaText;
    }
  };

  function _getAgendaAttachments() {
    return [];
  };

  function _updateUi(data) {
    //_initPickers();
    $("#txtMeetingName").val(data.name);
    $("#repeatTypeText").text(data.reacuranceType);
    $('#txtLocation').val(data.location);
    $('#txtDuration').val(data.duration);
    $("#cbIsPrivate").prop("checked", data.isPrivate);
    $("#cbIsFormal").prop("checked", data.isFormal);
    var meetingDate = new Date(data.date);
    $('#txtDate').data({ date: meetingDate }).datepicker('update').children("input").val(meetingDate);

    $('#meetingTime').val(data.time);
    $("#txtTags").val(_toString(data.tag));
    $('#purposeText').val(data.purpose);
    $('#outcomeText').val(data.outcome);

    meeting.Id = data.id;
    meeting.Name = data.name;
    meeting.IsReacurance = data.isReacurance;
    meeting.ReacuranceType = data.reacuranceType;
    meeting.date = data.date;
    meeting.Time = data.time;
    meeting.Duration = data.duration;
    meeting.Tag = data.tag;
    meeting.IsPrivate = data.isPrivate;
    meeting.IsFormal = data.isFormal;
    meeting.Purpose = data.purpose;
    meeting.Outcome = data.outcome;
  };

  function _updateModel() {

    meeting.Tag = _toArray($("#txtTags").val());
    meeting.IsPrivate = $("#cbIsPrivate").prop("checked");
    meeting.IsFormal = $("#cbIsFormal").prop("checked");
    meeting.Name = $("#txtMeetingName").val();
    meeting.Location = $('#txtLocation').val();
    meeting.Date = $('#txtDate').datepicker().val();
    meeting.Time = $('#meetingTime').val();
    meeting.Duration = $('#txtDuration').val();
    meeting.ReacuranceType = $("#repeatTypeText").text();
    meeting.IsReacurance = _isReacurance($("#repeatTypeText").text());
    meeting.Purpose = $('#purposeText').val();
    meeting.Outcome = $('#outcomeText').val();
  };

  function _toArray(str) {
    return str.split(';');
  };

  function _toString(strArray) {
    return strArray.join(';');
  };

  function _isReacurance(reacuranceType) {
    if (reacuranceType == "none") {
      return false;
    }
    return true;
  };

  function _initPickers() {
    minutz.functions.datepickers('txtDate');
    minutz.functions.timepicker('meetingTime');
    minutz.functions.durationpicker('txtDuration');
    minutz.functions.durationpicker('dur');
    minutz.functions.durationpicker('agendaItemTime');
  };

  minutz.functions.wysihtml5 = function (control)
  {
    $('#' + control).wysihtml5();
  };

  minutz.functions.timepicker = function (control)
  {
    $('#' + control).timepicker();
  };

  minutz.functions.datepickers = function(control)
  {
    $('#' + control).datepicker({
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true,
      datesDisabled: ['03/06/2017', '03/21/2017'],
      toggleActive: true,
      defaultViewDate: { year: 1977, month: 04, day: 25 }
    });
  };

  minutz.functions.durationpicker = function(controlname)
  {
    $('#' + controlname).durationPicker({
      lang: 'en',
      showSeconds: false,
      showDays: false,
    });
  };

  minutz.functions.save = function ()
  {
    _updateAgendaTextToModel();
    _updateModel();

    if (minutz.functions.saveAjax()) {
      minutz.functions.notifyMe(MinutzTitle, "The updates were saved successfully.", "fa fa-info");

    } else {
      minutz.functions.notifyMe(MinutzTitle, "Oops something went wrong.", "fa fa-info")
    }
  };

  minutz.functions.saveAjax = function ()
  {
    $.ajax({
      type: minutz.properties.POST,
      url: "Meeting/Save",
      data: meeting,
      success: function (data) {
        _updateUi(data);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        minutz.functions.notifyMe(MinutzTitle, textStatus + "  " + errorThrown, minutz.properties.infoIcon);
      },
      dataType: minutz.properties.JSON
    });

    return true;
  };

  function createDropZone() {
    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function (files) {
      console.log(files)
    }

    uploadForm.addEventListener('submit', function (e) {
      var uploadFiles = document.getElementById('js-upload-files').files;
      e.preventDefault()

      startUpload(uploadFiles)
    })

    dropZone.ondrop = function (e) {
      e.preventDefault();
      this.className = 'upload-drop-zone';

      startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function () {
      this.className = 'upload-drop-zone drop';
      return false;
    }

    dropZone.ondragleave = function () {
      this.className = 'upload-drop-zone';
      return false;
    }
  };

  window.setInterval(function () { minutz.functions.save(); }, 60000);

  //File Upload response from the server
  Dropzone.options.dropzoneForm = {
    init: function () {
      this.on("complete", function (data) {
        //var res = eval('(' + data.xhr.responseText + ')');
        var res = JSON.parse(data.xhr.responseText);
      });
    }
  };
</script>