@model tzatziki.minutz.models.DashboardModel
@inject tzatziki.minutz.interfaces.IProfileService personService
@{
	ViewData["Title"] = "Dashboard";
}
<div class="container-fluid">
	<div class="row">
    <section class="content-header">
      <h1>
        Dashboard
        <span ><small></small></span>
      </h1>
    </section>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-blue">
          <div class="widget-user-image">
            <img class="img-circle" src="@User.ToProfile(personService).ProfileImage" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">@User.ToProfile(personService).Name</h3>
          <h5 class="widget-user-desc">@User.Claims.FirstOrDefault(i => i.Type == System.Security.Claims.ClaimTypes.Role).Value</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a asp-controller="Home" asp-action="Index">Meetings <span class="pull-right badge bg-blue">10</span></a></li>
            <li><a asp-controller="Home" asp-action="Index">Tasks <span class="pull-right badge bg-aqua">2</span></a></li>
            <li class="hide"><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
            <li class="hide"><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
          </ul>
          <ul id="meetingList" class="nav nav-stacked">

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a asp-controller="Home" asp-action="Index" id="btn-calender-go">
        <div class="info-box bg-green">
          <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Meetings</span>
            <span class="info-box-number">10</span>

            <div class="progress">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
            <span class="progress-description">
              next meeting is : 22/04/2017
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <!-- /.info-box -->
    </div>
  
  <!-- /.col -->
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
     
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
     
    </div>
    <!-- /.col -->
  </div>
</div>

<script >

  var meetings = [];

  $(function(){



    $.ajax({
      url: '/Meeting/GetMeetings',
      dataType: 'json',
      type: 'GET',
      context: document.body
    }).done(function (data) {
      var newData = [];
      for (var i = 0; i < data.length; i++) {
        meetings.push({ id: data[i].Id, text: data[i].Name });
        var html = '<li><a href="/meeting?id='+ data[i].id +'">'+ data[i].name +'</a></li>';
        $('#meetingList').append(html);
      }
      //minutz.functions.setAttendees();
    });

  });
</script>
